@import 'reset';

.container
{
    width: 100%;
    .login
    {
        position: absolute;
        z-index: 1;
        top: 25px;
        right: 20px;
        a
        {
            font-size: 16px;

            color: #fff;
            &.lang
            {
                font-size: 12px;

                margin-right: 14px;
                padding: 3px;

                border: 1px solid #fff;
                border-radius: 5px;
            }
            &.type
            {
                font-size: 16px;

                margin-left: 20px;
                padding: 12px;

                -webkit-transition: all 300ms ease;
                        transition: all 300ms ease;

                color: #3cb8ea;
                border: 2px solid #3cb8ea;
                border-radius: 5px;
                &:hover
                {
                    color: #fff;
                    border: 2px solid #fff;
                    background: #3cb8ea;
                }
            }
        }
    }
    > .block.light
    {
        background: #ecf0f1;
    }
    > .block > .btn
    {
        font-size: 60px;
        font-weight: 300;
        font-style: italic;

        padding: 31px 210px;

        cursor: pointer;
        -webkit-transition: all 300ms ease;
                transition: all 300ms ease;
        letter-spacing: .1em;

        color: #81bdd5;
        border: 2px solid #81bdd5;
    }
    .block > p
    {
        padding: 70px;

        text-align: center;
    }
    .block.light
    {
        padding: 170px;

        text-align: center;
    }
    .block.light > a
    {
        display: inline-block;
    }
}


/* Menu */
#menu
{
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;

    display: none;

    width: 100%;
    height: 80px;
    padding: 23px 15px;

    text-align: center;

    background: #3cb8eb;
    &.active
    {
        display: block;
    }
    a
    {
        font-size: 30px;
        font-style: italic;

        padding: 8px;

        letter-spacing: .05em;

        color: #fff;
    }
}


#slideCntrl
{
    position: absolute;
    z-index: 1;
    top: 320px;
    right: 30px;
    div
    {
        width: 12px;
        height: 12px;
        margin-bottom: 10px;

        border: 2px solid #fff;
        border-radius: 50%;
        background: #fff;
        &.active
        {
            background: #3cb8ea;
        }
    }
}

.nav
{
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 20px;

    width: 40px;
    height: 25px;

    cursor: pointer;
}

/* Nav-Toggle */
.nav-toggle
{
    margin-top: 10px;

    cursor: pointer;
}
.nav-toggle > span,
.nav-toggle span:before,
.nav-toggle span:after
{
    position: absolute;

    display: block;

    width: 40px;
    height: 3px;

    content: '';
    cursor: pointer;

    border-radius: 1px;
    background: white;
}
.nav-toggle span:before
{
    top: -10px;
}
.nav-toggle span:after
{
    bottom: -10px;
}
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after
{
    -webkit-transition: all 500ms ease-in-out;
            transition: all 500ms ease-in-out;
}
.nav-toggle.active span
{
    background-color: transparent;
}
.nav-toggle.active span:before,
.nav-toggle.active span:after
{
    top: 0;
}
.nav-toggle.active span:before
{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.nav-toggle.active span:after
{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
/* End of Nav-Toggle */


/*.form>.background*/

.section
{
    > .background
    {
        z-index: 0;

        overflow: hidden;

        width: 100%;
        height: 750px;
        img
        {
            width: 100%;
            height: 100%;

            opacity: 1;
        }
    }
    > .content
    {
        position: relative;
        z-index: 1;

        width: auto;
        margin: 0 auto;
        margin-top: -750px;

        text-align: center;
        &.reset-margin
        {
            margin-top: 0;
            .data
            {
                height: auto;
                min-height: 520px;
            }
        }
        > .data
        {
            height: 520px;
            margin-top: 230px;
        }
        h4
        {
            font-size: 33px;
            font-weight: 300;

            padding-top: 40px;

            letter-spacing: .1em;
            text-transform: uppercase;
        }
        p
        {
            font-size: 36px;
            font-weight: 100;
            font-style: italic;

            margin-top: -5px;

            letter-spacing: .05em;
        }
        /* Typing block */
        img
        {
            height: 90px;
        }
        .texts
        {
            height: 122px;
        }
    }
    &.typing > .content.reset-margin .data
    {
        height: 750px;
        margin-top: 0;
        padding-top: 230px;
    }
    /* Controls */
    > .controls
    {
        position: relative;

        width: 100%;
        > a.item
        {
            float: left;

            width: 50%;
            height: 15px;
            margin-top: -2px;

            text-decoration: none;
            &:first-child
            {
                background: #33a1cd;
            }
            &:last-child
            {
                background: #3cb8ea;
            }
        }
    }
}



.block
{
    &.light > .btn:hover
    {
        color: #fff;
        background: #00a2d0;
    }
    &.typing
    {
        background-image: url('../images/slide_home_block.jpg');
        background-position: top center;
    }
    /* Block Boxes */
    &.boxes
    {
        overflow: hidden;

        width: 100%;
        height: 240px;

        background: #3cb8ea;
        > .grid
        {
            position: relative;

            width: 100%;
            max-width: 1280px;
            height: 240px;
            margin: 0 auto;
            > .flexBox
            {
                float: left;

                width: 33.3%;
                height: 100%;

                cursor: default;
                -webkit-transition: all 300ms ease;
                        transition: all 300ms ease;
                text-align: center;
                img
                {
                    margin-top: 50px;
                    margin-bottom: 15px;
                }
                h3
                {
                    font-size: 65px;
                    font-weight: 300;
                }
                &:nth-child(1)
                {
                    background: #57c8f6;
                }
                &:nth-child(2)
                {
                    background: #3cb8ea;
                }
                &:nth-child(3)
                {
                    background: #33a1cd;
                }
                &:nth-child(4)
                {
                    background: #2e92ba;
                }
                > .details
                {
                    font-size: 20px;
                    font-style: italic;
                    line-height: 1.3em;

                    position: relative;

                    display: none;

                    margin-top: 45px;
                    padding: 20px;

                    letter-spacing: .09em;

                    color: #00b8ee;
                }
                &:hover .details
                {
                    display: block;
                }
                &:hover img,
                &:hover h3
                {
                    display: none;
                }
                &:hover
                {
                    background: #ecf0f1;
                }
            }
        }
        &.consumer > .grid > .flexBox
        {
            width: 50%;
            /* consumer boxes */
            &:nth-child(1)
            {
                background: #2f92bb;
            }
            &:nth-child(2)
            {
                background: #2985aa;
            }
            > .details
            {
                margin-top: 65px;

                color: #fff;
            }
        }
    }
}



.block
{
    /* Block Cities */
    &.cities
    {
        width: 100%;
        height: auto;

        background: #414141;
        > .grid
        {
            position: relative;

            overflow: hidden;

            width: 100%;
            max-width: 1280px;
            height: auto;
            margin: 0 auto;
            > .flexCity
            {
                float: left;

                width: 33.3%;
                height: 530px;

                cursor: pointer;
                -webkit-transition: all 300ms ease;
                        transition: all 300ms ease;
                /* Hack for city hover */
                &.CA
                {
                    background: url('../images/cities/CA.png') no-repeat;
                    background-position: center top;
                    background-size: cover;
                    &:hover
                    {
                        background: url('../images/cities/CA-color.png') no-repeat;
                        background-position: center top;
                        background-size: cover;
                    }
                }
                &.SP
                {
                    background: url('../images/cities/SP.png') no-repeat;
                    background-position: center top;
                    background-size: cover;
                    &:hover
                    {
                        background: url('../images/cities/SP-color.png') no-repeat;
                        background-position: center top;
                        background-size: cover;
                    }
                }
                &.RJ
                {
                    background: url('../images/cities/RJ.png') no-repeat;
                    background-position: center top;
                    background-size: cover;
                    &:hover
                    {
                        background: url('../images/cities/RJ-color.png') no-repeat;
                        background-position: center top;
                        background-size: cover;
                    }
                }
                .content
                {
                    margin-top: 0;

                    text-align: center;
                    > h2
                    {
                        font-size: 220px;
                        font-weight: 300;

                        padding-top: 85px;
                        padding-bottom: 20px;
                    }
                    > p
                    {
                        font-size: 26px;
                    }
                }
                img
                {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .more
        {
            font-size: 75px;

            display: none;

            text-align: center;

            color: #fff;
            border-radius: 50%;
        }
    }
}

/* Effect BTN more */
.CA:hover .more,
.SP:hover .more,
.RJ:hover .more
{
    display: block;
}
.flexCity.CA:hover p,
.flexCity.SP:hover p,
.flexCity.RJ:hover p
{
    display: none;
}




/* Form */
.form
{
    background-image: url('../images/footer_background.jpg');
    background-position: top center;
    > .content
    {
        margin-bottom: 0;
        padding-top: 55px;
        padding-bottom: 130px;
        h2
        {
            font-size: 40px;
            font-weight: 300;

            padding-bottom: 20px;
        }
        p
        {
            font-size: 20px;
            font-weight: 100;
            font-style: italic;

            margin-top: 2px;

            letter-spacing: .05em;
        }
        > .data
        {
            margin-top: 10px;
        }
        .inputs
        {
            z-index: 2;

            width: 80%;
            max-width: 700px;
            margin: 0 auto;
            margin-top: 60px;
            > form > p
            {
                margin-top: 30px;
            }
        }
    }
    .background img
    {
        width: 100%;
        height: 100%;
    }
    textarea
    {
        float: left;

        width: 80%;
        height: 142px;

        resize: none;
    }
    input[type='submit']
    {
        float: left;

        width: 20%;
        height: 142px;

        cursor: pointer;
        -webkit-transition: all 300ms ease;
                transition: all 300ms ease;

        border: 1px solid #fff;
        border-left: none;
        background: transparent;
        background-image: url('../images/icons/check.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50% 50%;
    }
    input[type='submit']:hover
    {
        background-color: #3cb8eb;
    }
    /* Email Response */
    .emailResponse
    {
        display: none;
        .data
        {
            height: 50px;
            padding-top: 300px;
        }
    }
    .errorResponse
    {
        display: none;
        .data
        {
            height: 50px;
            padding-top: 300px;
        }
    }
}

.form input[type='text'],
.form input[type='email'],
textarea
{
    font: italic 100 25px 'Lato Regular', 'Lato', helvetica;

    width: 100%;
    max-width: 700px;
    padding: 25px;

    text-align: left !important;
    letter-spacing: .1em;

    color: gray;
    border: 1px solid #fff;
    background: transparent;
}

/* Hack for jQuery plugin */
.typed-cursor
{
    display: none;
}

#jobs
{
    padding: 170px 0;

    color: #3cb8ea;
    background-color: #ecf0f1;
    .rbox-widget
    {
        margin: 0;
        .rbox-field-wrapper.rbox-error .rbox-error-msg
        {
            font-size: 13px;
        }
        .rbox-btn:first-child
        {
            font-weight: 300;
            font-style: italic;

            padding: 11px 20px;

            cursor: pointer;
            transition: all 300ms ease;
            letter-spacing: .1em;

            color: #81bdd5;
            border: 2px solid #81bdd5;
            border-radius: 0;
            background: transparent;
            text-shadow: none;
            &:hover
            {
                color: #fff;
                background: #00a2d0;
            }
        }
    }
    .rbox-opening-list,
    .rbox-opening-detail
    {
        width: 700px;
        margin: auto;
	    a
	    {
	        color: #3cb8ea;
	    }
    }
    .rbox-opening-position-type,
    .rbox-opening-allows-remote
    {
        border-color: #3cb8ea;
    }
    .rbox-opening-li
    {
        padding: 30px 0;

        border-color: rgba(#81bdd5, .5);
    }
    .rbox-opening-position-info
    {
        float: right;

        margin-top: -5px;
    }
    .rbox-job-shortdesc
    {
        margin-top: 10px;
    }
    .rbox-job-fullpage
    {
        .rbox-top-links
        {
            margin-bottom: 40px;
        }
        .rbox-bottom-links
        {
            margin-top: 40px;
        }
        .rbox-top-links:hover,
        .rbox-bottom-links:hover
        {
            text-decoration: underline;
        }
        .rbox-job-shortdesc,
        .rbox-opening-position-info
        {
            display: inline-block;
        }
        .rbox-opening-position-info
        {
            margin-top: 7px;
        }
        .rbox-job-longdesc
        {
            display: block;

            min-height: 22px;
            margin-top: 30px;
            padding-top: 20px;

            border-top: 1px dotted rgba(127, 127, 127, .2);
            ul
            {
                padding-left: 20px;
                li
                {
                    line-height: 30px;

                    list-style: circle;
                }
            }
        }
        .rbox-application form
        {
            margin-top: 0;
            padding-top: 45px;

            border-top: 1px dotted rgba(127,127,127,.2);
            fieldset
            {
                padding-top: 0;
            }
            label
            {
                padding-top: 0;
                padding-bottom: 10px;
            }
            #candidate_first_name,
            #candidate_last_name,
            #candidate_phone,
            #resume
            {
                display: inline-block;

                width: 49%;

                vertical-align: top;
            }
            #candidate_last_name,
            #resume
            {
                margin-left: 10px;
            }
            #resume input
            {
                font-size: 17px;

                padding: 19px;
            }
            .rbox-error input
            {
                color: #b94a48;
                border-color: #b94a48;
            }
            input
            {
                font: italic 100 25px 'Lato Regular', 'Lato', helvetica;

                width: 100%;
                max-width: 700px;
                padding: 15px;

                text-align: left !important;
                letter-spacing: .1em;

                color: gray;
                border: 1px solid #ccc;
                border-radius: 0;
                background: rgba(255,255,1255, .4);
            }
        }
    }
}



@import 'footer';
@import 'modal';
@import 'media-query';
